/* Working Area Specific Rules */
.working_area {
  padding: 40px 30px;
}

/* General CSS*/
.product_sales {
  width: 100%;
  height: auto;
}

.sales_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sales_card {
  height: 40rem;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 8px 1px rgba(119, 118, 118, 0.4);
}
.sales_card .card_header {
  padding: 20px;
  width: 100%;
  height: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--primary-brand);
  color: white;
  display: flex;
  align-items: center;
}
.sales_card .card_body {
  padding: 20px;
  width: 100%;
  height: 80%;
}
.sales_card .card_bottom {
  padding: 20px;
  width: 100%;
  height: 15%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sales_card .card_bottom .button_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item_section, .cart_section, .customer_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Item Selection CSS */
.item_section {
  align-items: flex-start;
  justify-content: center;
  padding: 1px solid black;
}
.item_section .group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 10px;
}
.item_section .group p {
  font-size: 1.1rem;
}
.item_section select, input[type='text'] {
  width: 70%;
  outline: none;
}
.item_section select{
  cursor: pointer;
}
.card_bottom button {
  align-self: flex-end;
  justify-self: flex-end;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 20px;
  outline: 1px solid var(--primary-brand);
  background-color: transparent;
  color: black;
}
.item_section .group.amount_info {
  margin-top: 25px;
  margin-bottom: 20px;
}
/* Cart Section */
.cart_section h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.cart_section .cart_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  background-color: black;
  padding: 10px 15px;
  font-size: 1.1rem;
}
.cart_section .item_list {
  width: 100%;
  padding: 5px 0;
}
.cart_section .item_list ul {
  display: flex;
  flex-direction: column;
}
.cart_section .item_list ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.05rem;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(236, 235, 235);
  &:hover {
    background-color: rgb(218, 218, 218);
  }
}
.cart_section .name {
  flex-basis: 15%;
}
.cart_section .color {
  flex-basis: 35%;
}
.cart_section .quantity {
  flex-basis: 8%;
  text-align: center;
}
.cart_section .price, .cart_section .amount {
  flex-basis: 20%;
  text-align: right;
}
.cart_section .price {
  margin-right: 2%;
}

/* Customer Section */
.customer_section .cart_header{
  border: 1px solid red;
}